.idea/

yii_test.bat
yii_test
yii.bat
yii
Vagrantfile
requirements.php
README.md
LICENSE.md
init.bat
init
composer.lock
composer.json
codeception.yml
.bowerrc

vendor/
vagrant/
images/
environments/
console/
common/*/*
!common/config/main-local.php


backend/*/*
!backend/assets/AppAsset.php
!backend/config/main.php
!backend/controllers/*
!backend/models/*
!backend/views/*
!backend/web/*

backend/web/index-test.php
backend/web/robots.txt


frontend/*/*
!frontend/assets/AppAsset.php
!frontend/config/main-local.php
!frontend/controllers/*
!frontend/models/*
!frontend/views/**/
!frontend/web/*


frontend/web/index-test.php
frontend/web/robots.txt
