.idea

.bowerrc
codeception.yml
composer.lock
init
composer.json
init.bat
LICENSE.md
requirements.php
Vagrantfile
yii
yii.bat
yii_test.bat
yii_test
backend/config/test.php
backend/config/params.php
backend/config/bootstrap.php
backend/config/.gitignore
backend/runtime/
backend/tests
backend/web
backend/codeception.yml
common/
!common/config/main-local.php
console
environments
images
vagrant
vendor

!frontend
frontend/config
frontend/runtime
frontend/tests

frontend/web